@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 5px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #020617; 
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #8e8c8c; 
    border-radius: 10px; 
}

body {
    background-color: #020617;
}


